.header {
    padding-bottom: 45px;
    background: url("../assets/img/bg-header.png") no-repeat;
    background-size: cover;
    &__wrapper {
        padding-top: 15px;
        transition: 0.1s ease-in-out;
    }
    &__container {
        display: flex;
        flex-direction: column;
    }
    &__inner {
        padding-bottom: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 77px;
        height: 23px;
        display: flex;
        text-decoration: none;
    }
    &__burger {
        cursor: pointer;
        .burger__line {
            width: 23px;
            height: 2px;
            margin: 3px 0;
            background: #ffffff;
            transition: 0.2s ease-in;
        }
    }
    &__nav {
        display: none;
    }
    &__title {
        @include font(Playfair Display, normal, 700, 36px, 1.2, #ffffff);
        text-align: center;
    }
    &__subtitle {
        width: 275px;
        height: 100px;
        margin: 25px auto 0 auto;
        @include font(Karla, normal, 400, 16px, 24px, #ffffff);
        text-align: center;
        overflow: hidden;
    }
    &__img {
        width: 17px;
        height: 23px;
        margin: 15px auto 0;
        display: flex;
        cursor: pointer;
    }
    &__form {
        margin-top: 15px;
        padding: 30px 20px;
        background: rgba(0, 0, 0, 0.63);
        border-radius: 5px;
    }
}

.nav {
    margin-top: 30px;
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__item {
        margin-top: 30px;
    }
    &__item:nth-child(2) {
        margin-top: 60px;
    }
    &__link {
        @include font(Ovo, normal, 400, 24px, 30px, #ffffff);
        text-decoration: none;
        &--btn {
            width: 251px;
            height: 43px;
            margin: 0 auto;
            background-color: #da6f5b;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include font(Karla, normal, 400, 16px, 1.2, #ffffff);
        }
        &--hovered:hover {
            text-decoration: underline;
        }
    }
}

.form {
    &__title {
        @include font(Playfair Display, normal, 400, 16px, 1.2, #ffffff);
        text-align: center;
    }
    &__input,
    .dropdown__btn {
        width: 100%;
        height: 45px;
        margin-top: 17px;
        padding-left: 20px;
        background: rgba(255, 255, 255, 0.2);
        border: none;
        border-radius: 3px;
        box-sizing: border-box;
        outline: none;
        @include font(Karla, normal, 400, 16px, 24px, #ffffff);
        &--submit {
            padding: 0;
            background: #da6f5b;
            cursor: pointer;
        }
    }
    &__input::placeholder {
        color: #ffffff;
    }
    &__input::-webkit-input-placeholder {
        color: #ffffff;
    }
    &__input:-moz-placeholder {
        color: #ffffff;
    }
    &__input::-moz-placeholder {
        color: #ffffff;
    }
    &__dropdown {
        margin-top: 17px;
        position: relative;
    }
}

.dropdown {
    &__btn {
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    &__btn > img {
        width: 8px;
        height: 4px;
    }
    &__content {
        width: 100%;
        padding: 20px;
        position: absolute;
        top: 50px;
        display: flex;
        flex-direction: column;
        transform: translateY(-4em);
        background: rgba(255, 255, 255, 0.9);
        border: none;
        border-radius: 3px;
        box-sizing: border-box;
        outline: none;
        @include font(Karla, normal, 400, 16px, 24px, #454545);
        visibility: hidden;
        transition: all 0.2s ease-in-out;
        opacity: 0;
        z-index: 1;
    }
    &__item {
        padding: 5px 0;
        cursor: pointer;
    }
}

.show {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #2d2d35;
    box-sizing: border-box;
    z-index: 999;
}

.rotate-burger-line .burger__line--line1 {
    transform: rotate(-225deg) translate(4px, -4px);
}

.rotate-burger-line .burger__line--line2 {
    visibility: hidden;
}

.rotate-burger-line .burger__line--line3 {
    transform: rotate(225deg) translate(3px, 4px);
}

.display-block {
    display: block;
}
