@import "base/reset";
@import "base/fonts";
@import "utils/mixins";
@import "layout/header";
@import "layout/main";

.main-wrapper {
    background: #ffffff;
}

.container {
    width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

@media screen and (min-width: 1160px) {
    .container {
        width: 1160px;
    }
}